
langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
pandas
pyarrow
beautifulsoup4
lxml
matplotlib
seaborn
wordcloud
langchain-groq
python-dotenv
langchain-google-genai
fastapi
